# Environnement
.env
.env.local

# IDE
.vscode/
.php-cs-fixer.php
ECF.session.sql
vendor/

# Certificats SSL
/config/ssl/*.pem

# Logs
*.log

# Uploads
public/uploads/*
tmp/

# Fly.io
fly.toml
.dockerignore

# A remettre en ligne
_documentation/
_docker/
