/* <div class="card">
  <header class="card-header">
    <img
      src="..."
      alt="Description de l'image"
    />
  </header>
  <div class="card-body">
    <h3 class="card-title">Titre</h3>
    <p class="card-description">Lorem ipsum dolor sit amet...</p>
    <div class="card-actions">
      ...
    </div>
  </div>
  </div> */

.card {
    border-radius: calc(var(--base-unit) / 1.5);
    display: flex;
    overflow: hidden;
}

/* Carte Verticale */
.card:not(.is-inline) {
    flex-direction: column;
}

.card-header {
    overflow: hidden;
}

.card-header>img {
    display: block;
    width: 100%;
}

.card:hover .card-header>img {
    transform: scale(1.1);
}

.card-body {
    padding: calc(var(--base-unit) * 1.5);
    display: flex;
    flex-direction: column;
    gap: var(--base-unit);
    align-items: flex-start;
}

.card-title {
    font-size: calc(var(--base-unit) * 1.375);
    line-height: calc(calc(var(--base-unit) * 1.375) * var(--ratio-line-height));
    font-weight: 700;
}

.card-description {
    font-size: var(--base-unit);
    line-height: calc(var(--base-unit) * var(--ratio-line-height));
    font-weight: 400;
}

.card-actions {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base-unit) / 2);
    align-items: center;
}

/* Carte Horizontale */
.card.inline {
    flex-direction: row;
}

.card.is-inline .card-header {
    max-width: calc(100% / 3);
}

.card.is-inline .card-header>img {
    height: 100%;
    object-fit: cover;
}

.card.is-inline .card-body {
    align-self: center;
}
