.d\:grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.d\:grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.d\:grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.d\:grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.d\:grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.d\:grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.d\:grid-7 {
    grid-template-columns: repeat(7, 1fr);
}

.d\:grid-8 {
    grid-template-columns: repeat(8, 1fr);
}

.d\:grid-9 {
    grid-template-columns: repeat(9, 1fr);
}

.d\:grid-10 {
    grid-template-columns: repeat(10, 1fr);
}

.d\:grid-11 {
    grid-template-columns: repeat(11, 1fr);
}

.d\:grid-12 {
    grid-template-columns: repeat(12, 1fr);
}

.d\:col-1 {
    grid-column: span 1;
}

.d\:col-2 {
    grid-column: span 2;
}

.d\:col-3 {
    grid-column: span 3;
}

.d\:col-4 {
    grid-column: span 4;
}

.d\:col-5 {
    grid-column: span 5;
}

.d\:col-6 {
    grid-column: span 6;
}

.d\:col-7 {
    grid-column: span 7;
}

.d\:col-8 {
    grid-column: span 8;
}

.d\:col-9 {
    grid-column: span 9;
}

.d\:col-10 {
    grid-column: span 10;
}

.d\:col-11 {
    grid-column: span 11;
}

.d\:col-12 {
    grid-column: span 12;
}
