/* Flex */
.d\:flex {
    display: flex;
    flex-direction: row;
}

.d\:f-col {
    display: flex;
    flex-direction: column;
}

.d\:wrap {
    flex-wrap: wrap;
}

.d\:nowrap {
    flex-wrap: nowrap;
}

.d\:ju-start {
    justify-content: flex-start;
}

.d\:ju-center {
    justify-content: center;
}

.d\:ju-end {
    justify-content: flex-end;
}

.d\:ju-between {
    justify-content: space-between;
}

.d\:ju-around {
    justify-content: space-around;
}

.d\:ju-evenly {
    justify-content: space-evenly;
}

.d\:it-start {
    align-items: flex-start;
}

.d\:it-center {
    align-items: center;
}

.d\:it-end {
    align-items: flex-end;
}

.d\:it-stretch {
    align-items: stretch;
}

.d\:it-baseline {
    align-items: baseline;
}

.d\:ju-it-center {
    justify-items: center;
}

.d\:ju-it-start {
    justify-items: start;
}

.d\:ju-it-end {
    justify-items: end;
}

.d\:grow-0 {
    flex-grow: 0;
}

.d\:grow-1 {
    flex-grow: 1;
}

.d\:shrink-0 {
    flex-shrink: 0;
}

.d\:shrink-1 {
    flex-shrink: 1;
}

/* Position */
.d\:rel {
    position: relative;
}

.d\:abs {
    position: absolute;
}

.d\:fix {
    position: fixed;
}

.d\:sti {
    position: sticky;
}

.d\:top {
    top: 0;
}

.d\:top5 {
    top: 5%;
}

.d\:top10 {
    top: 10%;
}

.d\:bot {
    bottom: 0;
}

.d\:bot5 {
    bottom: 5%;
}

.d\:bot10 {
    bottom: 10%;
}

.d\:left {
    left: 0;
}

.d\:left5 {
    left: 5%;
}

.d\:left10 {
    left: 10%;
}

.d\:right {
    right: 0;
}

.d\:right5 {
    right: 5%;
}

.d\:right10 {
    right: 10%;
}
