.container-full {
    width: 100dvw;
    overflow: hidden;
}

.container {
    width: 100%;
}

.wrapper {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1400px;
        margin: 0 auto;
    }
}

[class*="grid-"] {
    display: grid;
}

.grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
    grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
    grid-template-columns: repeat(8, 1fr);
}

.grid-9 {
    grid-template-columns: repeat(9, 1fr);
}

.grid-10 {
    grid-template-columns: repeat(10, 1fr);
}

.grid-11 {
    grid-template-columns: repeat(11, 1fr);
}

.grid-12 {
    grid-template-columns: repeat(12, 1fr);
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}
