/* Flex */
.t\:flex {
    display: flex;
    flex-direction: row;
}

.t\:f-col {
    display: flex;
    flex-direction: column;
}

.t\:wrap {
    flex-wrap: wrap;
}

.t\:nowrap {
    flex-wrap: nowrap;
}

.t\:ju-start {
    justify-content: flex-start;
}

.t\:ju-center {
    justify-content: center;
}

.t\:ju-end {
    justify-content: flex-end;
}

.t\:ju-between {
    justify-content: space-between;
}

.t\:ju-around {
    justify-content: space-around;
}

.t\:ju-evenly {
    justify-content: space-evenly;
}

.t\:it-start {
    align-items: flex-start;
}

.t\:it-center {
    align-items: center;
}

.t\:it-end {
    align-items: flex-end;
}

.t\:it-stretch {
    align-items: stretch;
}

.t\:it-baseline {
    align-items: baseline;
}

.t\:ju-it-center {
    justify-items: center;
}

.t\:ju-it-start {
    justify-items: start;
}

.t\:ju-it-end {
    justify-items: end;
}

.t\:grow-0 {
    flex-grow: 0;
}

.t\:grow-1 {
    flex-grow: 1;
}

.t\:shrink-0 {
    flex-shrink: 0;
}

.t\:shrink-1 {
    flex-shrink: 1;
}

/* Position */
.t\:rel {
    position: relative;
}

.t\:abs {
    position: absolute;
}

.t\:fix {
    position: fixed;
}

.t\:sti {
    position: sticky;
}

.t\:top {
    top: 0;
}

.t\:top5 {
    top: 5%;
}

.t\:top10 {
    top: 10%;
}

.t\:bot {
    bottom: 0;
}

.t\:bot5 {
    bottom: 5%;
}

.t\:bot10 {
    bottom: 10%;
}

.t\:left {
    left: 0;
}

.t\:left5 {
    left: 5%;
}

.t\:left10 {
    left: 10%;
}

.t\:right {
    right: 0;
}

.t\:right5 {
    right: 5%;
}

.t\:right10 {
    right: 10%;
}
