/**
 *  === Main CSS (Mobile) === 
 */
/** biome-ignore-all lint/style/noDescendingSpecificity: <explanation> */

@import 'app.css';

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    flex: 0 0 max-content;
    width: 100%;
    border-style: solid;
    border-width: 2px;
}

.hidden {
    display: none;
    top: 0;
}

/* --- Header --- */

header {
    position: sticky;
    top: 0;
    container-type: scroll-state;
    container-name: sticky-scroll;
    z-index: 1;
}

body[data-theme=auto] header {
    background-color: light-dark(var(--light-2), var(--dark-2));
    border-color: light-dark(var(--secondary), var(--primary));
}

body[data-theme=light] header {
    background-color: var(--light-2);
    border-color: var(--secondary);
}

body[data-theme=dark] header {
    background-color: var(--dark-2);
    border-color: var(--primary);
}

header select {
    padding: calc(var(--base-unit) / 2) var(--base-unit);
    width: max-content;
    text-align: center;
    border-radius: calc(var(--base-unit) / 3);
}

body[data-theme=auto] header select {
    color: light-dark(var(--primary), var(--secondary));
    background-color: light-dark(var(--light-2), var(--dark-2));
    border-color: light-dark(var(--primary), var(--secondary));
}

body[data-theme=light] header select {
    color: var(--primary);
    background-color: var(--light-2);
    border-color: var(--primary);
}

body[data-theme=dark] header select {
    color: var(--secondary);
    background-color: var(--dark-1);
    border-color: var(--secondary);
}

body[data-theme=auto] header select:focus {
    outline: 2px solid light-dark(var(--secondary), var(--primary));
}

body[data-theme=light] header select:focus {
    outline: 2px solid var(--secondary);
}

body[data-theme=dark] header select:focus {
    outline: 2px solid var(--primary);
}

#headline {
    font-size: 1.8rem;
    font-weight: 600;
}

header button>p {
    font-size: 1.6rem;
    font-weight: 500;
}

body[data-theme=auto] #headline {
    color: light-dark(var(--primary), var(--secondary));
}

body[data-theme=light] #headline {
    color: var(--primary);
}

body[data-theme=dark] #headline {
    color: var(--secondary);
}

header li {
    list-style: none;
}

header img {
    height: 8vh;
    width: auto;
}

header>div>div>div {
    width: 50%;
    text-align: center;
}

nav {
    width: 50%;
}

nav a {
    font-family: var(--font-headline), sans-serif;
    font-size: var(--h3-size);
    line-height: var(--h3-line-height);
    font-weight: var(--h3-weight);
}

#nav-button {
    width: max-content;
    height: max-content;
    border: none;
    background-color: transparent;
}

/* --- Main (common) --- */

main {
    width: var(--max-width);
    flex: 1 0 max-content;
    padding: 1vh 4vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

main>p {
    align-self: flex-start;
}

h1,
h2 {
    text-align: center;
    margin: var(--base-unit) calc(var(--base-unit) * 2);
}

main>picture>img {
    width: 100%;
}

body[data-theme=auto] h1,
body[data-theme=auto] h2,
body[data-theme=auto] a,
body[data-theme=auto] a:visited,
body[data-theme=auto] a:active {
    color: light-dark(var(--primary), var(--secondary));
}

body[data-theme=light] h1,
body[data-theme=light] h2,
body[data-theme=light] a,
body[data-theme=light] a:visited,
body[data-theme=light] a:active {
    color: var(--primary);
}

body[data-theme=dark] h1,
body[data-theme=dark] h2,
body[data-theme=dark] a,
body[data-theme=dark] a:visited,
body[data-theme=dark] a:active {
    color: var(--secondary);
}

/* --- Home --- */

#salad {
    width: 100%;
    margin-bottom: var(--base-unit);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    gap: var(--base-unit);
    padding: calc(var(--base-unit) / 2);
    border-radius: var(--base-unit);
    border-width: 2px;
    border-style: solid;
}

#salad picture {
    height: fit-content;
}

#salad img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--base-unit);
}

#salad p {
    font-family: var(--font-secondary);
    font-size: 0.7rem;
}

body[data-theme=auto] #salad {
    color: light-dark(var(--dark-2), var(--light-2));
    background-color: light-dark(var(--light-2), var(--dark-2));
    border-color: light-dark(var(--primary), var(--secondary));
}

body[data-theme=light] #salad {
    color: var(--dark-2);
    background-color: var(--light-2);
    border-color: var(--primary);
}

body[data-theme=dark] #salad {
    color: var(--light-2);
    background-color: var(--dark-2);
    border-color: var(--secondary);
}

/* --- Login - Register - reset,new password --- */

.links {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-unit) * 2);
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* --- Profile --- */

#infos {
    padding: 0 calc(var(--base-unit) * 2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--base-unit);
}

/* --- Footer --- */

footer li {
    list-style: none;
}

#footer-button>p {
    font-family: var(--font-headline), sans-serif;
    font-size: var(--h3-size);
    line-height: var(--h3-line-height);
    font-weight: var(--h3-weight);
}

#footer-button>p::before {
    content: '\2BC6';
    margin-right: calc(var(--base-unit) / 4);
}

#footer-button.rotate>p::before {
    display: inline-block;
    transform: rotate(-90deg);
}

body[data-theme=auto] footer {
    background-color: light-dark(var(--light-2), var(--dark-2));
    border-color: light-dark(var(--secondary), var(--primary));
}

body[data-theme=light] footer {
    background-color: var(--light-2);
    border-color: var(--secondary);
}

body[data-theme=dark] footer {
    background-color: var(--dark-2);
    border-color: var(--primary);
}

/**
=== Tablette ===
**/

@media screen and (min-width: 768px) {

    /* --- Home --- */

    #headline {
        font-size: 2.2rem;
        font-weight: 600;
    }

    #salad p {
        padding: 0 var(--base-unit);
        font-size: 0.9rem;
    }
}
