# copy this file and rename it ".env" and enter the values 

# development or production
APP_ENV=your_env
APP_URL=your_url

# Base de donnée SQL
DB_HOST=your_host
DB_PORT=your_port
DB_ROOT_PASSWORD=your_root_password_here
DB_DATABASE=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_SSL_MODE=REQUIRED
DB_CA_CERT=/path/to/ca-certificate.pem

# MongoDB
MONGO_ROOT_USER=your_MongoDB_user
MONGO_ROOT_PASSWORD=your_MongoDB_password

# SMTP
SMTP_HOST=host
SMTP_PORT=port
SMTP_USE_AUTH=bool
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=sender_email
SMTP_FROM_NAME=sender_name
SMTP_DEBUG=bool

# Open Route Service API
ORS_API_KEY=your_api_key
