# copy this file and rename it ".env" and enter the values 

# development or production
APP_ENV=development

# MariaDB
MARIADB_HOST=your_host
MARIADB_PORT=your_port
MARIADB_ROOT_PASSWORD=your_root_password_here
MARIADB_DATABASE=your_database_name
MARIADB_USER=your_database_user
MARIADB_PASSWORD=your_database_password

# MongoDB
MONGO_ROOT_USER=your_MongoDB_user
MONGO_ROOT_PASSWORD=your_MongoDB_password

# SMTP MailHog
SMTP_HOST=mailhog
SMTP_PORT=1025
